@import 'tailwindcss';
@plugin "tailwindcss-react-aria-components";

:root {

    /* Light mode portfolio colors */
    --portfolio-bg: #bb8f8f;
    --portfolio-card: #c69a9a;
    --portfolio-card-alt: #c89d9d;
    --portfolio-card-dark: #b68686;
    --portfolio-card-muted: #b07d7d;
    --portfolio-text: #372a2a;
    --portfolio-text-light: #483737;
    --portfolio-text-darker: #312626;
    --portfolio-icon: #5f4949;
    --portfolio-divider: #7b5656;
    --portfolio-avatar: #c9a6b3;
    --portfolio-online: #a9e2a7;
    --portfolio-offline: #f99280;
}

.dark {
    /* Dark mode portfolio colors */
    --portfolio-bg: #5a3f3f;
    --portfolio-card: #664747;
    --portfolio-card-alt: #6c4c4c;
    --portfolio-card-dark: #513939;
    --portfolio-card-muted: #4b3434;
    --portfolio-text: #d3c5c5;
    --portfolio-text-light: #c6b4b4;
    --portfolio-text-darker: #d8c7c7;
    --portfolio-icon: #ad9494;
    --portfolio-divider: #7b5656;
    --portfolio-avatar: #664747;
    --portfolio-online: #a9e2a7;
    --portfolio-offline: #f99280;
  
}


body {
  @apply bg-[var(--portfolio-bg)] text-[var(--portfolio-text)] text-sm font-medium antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 14rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
